form {
  min-width: 400px;
  max-width: 10vw;
  gap: 10px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
}

input:valid {
  border: 1px solid aqua;
}

input:focus {
  border: 1px solid blue;
}

button {
  padding: 10px;
  background: aqua;
  border-radius: 4px;
  border: none;
  font-family: "Quicksand", sans-serif;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  background: white;
  cursor: pointer;
  transform: scale(1.01);
}

button:active {
  background: aqua;
  transform: scale(1);
}

.profile {
  min-width: 400px;
  max-width: 10vw;
}

#spoiler {
  display: none;
}
